<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <div class="w-100 mt-3 px-5 py-5 flex flex-col">
            <h1 class="text-center text-2xl mt-5"> Blog description</h1>

            <h1 class="text-4xl mt-7 font-bold ">
                <%= data.title %>
            </h1>

            <h1 class="text-2xl text-gray-500 mt-3 ">
               Author: <%= data.author %>
            </h1>
            <div class="flex p-5 w-full ">

                <div class="w-2/5 bg-pink-300 h-[50vh]">
                    <img src="<%= data.blogImage %>" class="fit-cover position-center w-full h-full" alt="">
                </div>
                

            </div>

            <div class="w-full text-2xl">
                <%= data.description %>
            </div>


        </div>





        <%- include('partials/footer') %>